# v0 runtime files
__v0_runtime_loader.js
__v0_devtools.tsx
__v0_jsx-dev-runtime.ts

# Common ignores
node_modules/
.next/
.env*.local
.DS_Store

.env
package-lock.json
tsconfig.tsbuildinfo

# PWA files
public/sw.js
public/sw.js.map
public/swe-worker-*.js
public/swe-worker-*.js.map
public/workbox-*.js
public/workbox-*.js.map


# rota de desenvolvimento para testar cores de botão de F5 na pagina
app/api/dev/

cleint-d.tsx
route.tsx